apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zork-saves-pvc
  labels:
    app: zork
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: zork-saves-pv
  labels:
    app: zork
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/zork/saves
    type: DirectoryOrCreate
